.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50vmin;
  width: 50vmin;
  background-color: white;
}

.viewer {
  color: black;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
}

.viewer :last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.App-logo {
  color: red;
  height: 40vmin;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.slider-container {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
