.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: burlywood;
  text-align: center;
  padding: 5px;
}

.picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid burlywood;
  border-radius: 15px;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50vmin;
  width: 50vmin;
  background-color: white;
  margin: 10px;
  overflow: hidden;
}

.background-layer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.color-layer {
  color: black;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
}

.foreground-layer {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.image {
  object-fit: contain;
  max-width: 100%;
}

.controllers-container {
  display: flex;
  font-size: calc(10px + 1vmin);
}

.controller-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper input[type='number'] {
  width: 40px;
  height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper .button-wrapper {
  display: flex;
  flex-direction: column;
}

.button-wrapper button {
  height: 13px;
  font-size: 1vmin;
}

.controller-wrapper input[type='range'] {
  width: 100px;
}

.options-container {
  font-size: calc(10px + 1vmin);
  padding: 5px;
}
